*{
    margin: 0;
    padding: 0;
    border: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background: url('../img/imagens/fundo.png') repeat-x;
}

.container{
    width: 750px;
    margin: 0 auto;
}

header {
    height: 180px;
    background: url(../img/imagens/detalhe-topo.png) no-repeat right;
    width: 750px;
}

header img{
    margin-top: 24px;
}

header .link-navegacao{
    background-color: #b10333;
    margin-top: 30px;
    max-width: 600px;
    height: 40px;
}

.link-navegacao a{
    color: white;
    text-decoration: none;
    padding: 11px 17px;
    display: inline-block;
    background: url(../img/imagens/divisor.png) no-repeat left center;
    font-size: 15px;
    cursor: pointer;
}

.link-navegacao a:first-child{
   background: none;
}

.link-navegacao a.active{
    background-color: #de003e;
}

.link-navegacao a.active:hover{
    color: white;
}

.link-navegacao a:hover{
    color: #69001d;
}